!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "めぐみソフトは、業務フローの再設計からDXを推進するソフトウェアデベロッパーです。", :name => "description"}/
    %meta{:content => "hidesys,めぐみソフト,ひでシス", :name => "author"}/
    %title 株式会社めぐみソフト
    / Font
    %link{:href => "https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap", :rel => "stylesheet"}/
    / Latest compiled and minified CSS
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", :integrity => "sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}/
    / Bootstrap js
    %script{:crossorigin => "anonymous", :integrity => "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", :src => "https://code.jquery.com/jquery-3.3.1.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", :src => "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"}
    / CSS
    = stylesheet_link_tag "agency"
    /favicons
    = partial 'favicons'
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-GQPXCVFG7Z"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GQPXCVFG7Z');
  %body#page-top
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        %a.navbar-brand.js-scroll-trigger{:href => "#page-top"}
          %img.img-fluid{:src => "images/icon.png"}/
          株式会社めぐみソフト
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          Menu
          %i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.text-uppercase.ml-auto
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#services"} Services
            -#
              %li.nav-item
                %a.nav-link.js-scroll-trigger{:href => "#portfolio"} Portfolio
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#works"} Works
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#about"} About
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#contact"} Contact
    / Header
    %header.masthead
      .container
        .intro-text
          .intro-lead-in 業務フローの再設計からDXを推進する
          .intro-heading
            %img.img-fluid{:src => "images/icon.png"}/
            めぐみソフト
          %a.btn.btn-primary.btn-xl.js-scroll-trigger{:href => "#works"} Works
    / Services
    %section#services
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading.text-uppercase Services
            %h3.section-subheading.text-muted ソフトウェア開発＋コンサルティングを提供しております
        .row.text-center
          .col-md-6
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-laptop.fa-stack-1x.fa-inverse
            %h4.service-heading Webアプリ開発
            %p.text-muted Ruby on Rails, Sinatra, Vue.js, Pythonを利用した動的WebサイトやWebアプリの開発、Androidアプリ開発、PWAアプリ開発を行っています。
          .col-md-6
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-tasks.fa-stack-1x.fa-inverse
            %h4.service-heading コンサルティング
            %p.text-muted Webアプリの開発を委託するのが初めての企業様におすすめ。ITのプロとして、委託料金の適正化・要件定義のスムース化を支援します。初回無料・10万円〜
          /
            .col-md-6
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x.text-primary
                %i.fa.fa-globe.fa-stack-1x.fa-inverse
              %h4.service-heading インドネシア進出支援
              %p.text-muted 中部ジャワを拠点にインドネシア進出・マーケット調査・農業農民動向調査などを行います。
            .col-md-6
              %span.fa-stack.fa-4x
                %i.fa.fa-circle.fa-stack-2x.text-primary
                %i.fab.fa-youtube.fa-stack-1x.fa-inverse
              %h4.service-heading バーチャルYouTuber
              %p.text-muted バーチャルYouTuberを運営するメディア事業を行っております。
        .row
          .col-lg-12.text-center
            %p
              %a.btn.btn-info.btn-xl.js-scroll-trigger{href: "#contact"} コンタクトを取る
    / WOrks Grid
    %section#works.bg-light
      .container
        .row
          .col-12.text-center
            %h2.section-heading.text-uppercase Works
            %h3.section-subheading.text-muted 当社の開発・開発補助プロジェクト
        .row.justify-content-center
          .col-12.text-center
            %h4.works-heading 開発補助
        .row.justify-content-center
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-titler VR内見システム
                %h6.card-subtitle.mb-2.text-muted 不動産向け
                %span.badge.badge-pill.badge-danger Ruby
                %span.badge.badge-pill.badge-danger Rails
                %span.badge.badge-pill.badge-success Vue.js
                %span.badge.badge-pill.badge-warning Google Cloud Storage
                %span.badge.badge-pill.badge-warning AWS S3
                %span.badge.badge-pill.badge-info Heroku
                %span.badge.badge-pill.badge-info PostgreSQL
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-title 家賃保証額推定システム
                %h6.card-subtitle.mb-2.text-muted 不動産向け
                %span.badge.badge-pill.badge-warning Python
                %span.badge.badge-pill.badge-warning AWS Lambda
                %span.badge.badge-pill.badge-primary DynamoDB
        .row.justify-content-center
          .col-12.text-center
            %h4.works-heading プロジェクト完遂
        .row.justify-content-center
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-title リアルタイム音声翻訳アプリ
                %h6.card-subtitle.mb-2.text-muted 海外旅行者向け
                %span.badge.badge-pill.badge-danger Ruby
                %span.badge.badge-pill.badge-danger Rails
                %span.badge.badge-pill.badge-success Vue.js
                %span.badge.badge-pill.badge-primary Google Speech-to-Text
                %span.badge.badge-pill.badge-primary Goolge Translate
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-title 生活記録アプリ
                %h6.card-subtitle.mb-2.text-muted 一般向け
                %span.badge.badge-pill.badge-danger Ruby
                %span.badge.badge-pill.badge-danger Rails
                %span.badge.badge-pill.badge-success Vue.js
                %span.badge.badge-pill.badge-info PostgreSQL
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-title
                  = link_to 'らくちんワクチン', 'https://tel.vaccine-yoyaku.com/', target: '_blank', class: 'text-primary'
                %h6.card-subtitle.mb-2.text-muted 医療機関向け
                %div
                  %span.badge.badge-pill.badge-danger Ruby
                  %span.badge.badge-pill.badge-danger Rails
                  %span.badge.badge-pill.badge-danger Twilio
                  %span.badge.badge-pill.badge-warning Google Cloud Storage
                  %span.badge.badge-pill.badge-info PostgreSQL
                  %span.badge.badge-pill.badge-info Firestore
                新型コロナワクチン個別接種の予約で電話がパンクしている医療機関を救う、自動コールセンターシステム
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-title 会員トレーニング管理システム
                %h6.card-subtitle.mb-2.text-muted 医療機関向け
                %span.badge.badge-pill.badge-danger Ruby
                %span.badge.badge-pill.badge-danger Rails
                %span.badge.badge-pill.badge-success Vue.js
                %span.badge.badge-pill.badge-warning Google Cloud Storage
                %span.badge.badge-pill.badge-info PostgreSQL
          .col-md-6.col-lg-4.text-center.p-2
            .card
              .card-body
                %h5.card-title 医療用語管理システム
                %h6.card-subtitle.mb-2.text-muted 医療機関向け
                %span.badge.badge-pill.badge-danger Ruby
                %span.badge.badge-pill.badge-danger Rails
                %span.badge.badge-pill.badge-danger Redmine
                %span.badge.badge-pill.badge-warning Javascript
                %span.badge.badge-pill.badge-primary MySQL

    / About
    %section#about
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading.text-uppercase About
            %h3.section-subheading.text-muted 会社情報
        .row
          .col-lg-12
            %table.table.table-striped
              %tbody
                %tr
                  %th 会社名
                  %td 株式会社めぐみソフト
                %tr
                  %th 法人番号
                  %td 8011003010168
                %tr
                  %th Webサイト
                  %td= link_to 'https://nishioka-megumi.com/', 'https://nishioka-megumi.com/', target: '_blank'
                %tr
                  %th 所在地
                  %td 〒105-0013 東京都港区浜松町2-2-15 浜松町ダイヤビル2F
                %tr
                  %th 代表者
                  %td 中庄谷 栄太郎
                %tr
                  %th 問い合わせ先
                  %td
                    %ul
                      %li
                        メールアドレス：
                        = link_to 'inquiry@mail.nishioka-megumi.com', 'mailto:inquiry@mail.nishioka-megumi.com'
                      %li
                        電話：
                        = link_to '050-3152-9731', 'tel:050-3152-9731'
                %tr
                  %th 取引銀行
                  %td
                    %ul
                      %li 三井住友銀行 目黒支店
                      %li GMOあおぞらネット銀行 法人支店
                %tr
                  %th 主要取引先
                  %td
                    %ul
                      %li リース株式会社
                      %li メディフォン株式会社
                      %li 株式会社早川書房


    / Results

    / Clients
    -#
      %section.py-5
        .container
          .row
            .col-md-3.col-sm-6
              %a{:href => "#"}
                %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/envato.jpg"}/
            .col-md-3.col-sm-6
              %a{:href => "#"}
                %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/designmodo.jpg"}/
            .col-md-3.col-sm-6
              %a{:href => "#"}
                %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/themeforest.jpg"}/
            .col-md-3.col-sm-6
              %a{:href => "#"}
                %img.img-fluid.d-block.mx-auto{:alt => "", :src => "img/logos/creative-market.jpg"}/
    / Contact
    %section#contact
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading.text-uppercase Contact
            %h3.section-subheading.text-muted
              %span{style: "color: white;"}
                1営業日以内にご返答いたします。返信がない場合はお手数ですがお電話にてお問い合わせください。
            %p{style: "color: white;"}
              株式会社めぐみソフト (Megumi Soft Inc.)
            %p
              %a.btn.btn-info.btn-lg{:href => "mailto:inquiry@mail.nishioka-megumi.com"}
                %i.fa.fa-envelope
                メール
            %p
              %a.btn.btn-info.btn-lg{:href => "tel:050-3152-9731"}
                %i.fas.fa-phone
                050-3152-9731
    / Footer
    %footer
      .container
        .row
          .col-md-12
            .copyright
              Copyright © 株式会社めぐみソフト
              %br/
              Tel.: 050-3152-9731
              %br/
              Address: 〒105-0013 東京都港区浜松町2-2-15 浜松町ダイヤビル2F
          -#
            .col-md-4
              %ul.list-inline.social-buttons
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.fa.fa-linkedin
            .col-md-4
              %ul.list-inline.quicklinks
                %li.list-inline-item
                  %a{:href => "#"} Privacy Policy
                %li.list-inline-item
                  %a{:href => "#"} Terms of Use
    / Modals (Removed)
    = #partial "modals"
    = javascript_include_tag "agency"
